/** multiWrites.css
 ** Jules Leow
 ** 09/04/2017
 **/

body {
  background-color: #333;
  background-image: url(images/ShipBG.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

body p {
  padding: 0.5em 0.5em;
  margin: 20px auto;
  background-color: #eee;
  width: 720px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-left: 400px;
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	color: #1E6E68;
	line-height: 40px;
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1E6E68;
	line-height: 30px;
	text-align: center;
}

header {
  text-align: left;
  color: #fff;
  background-color: #154156;
  padding: 30px 130px;
}

/*Alignment of the avatar */
img {
  float: left;
}

li, li a {
  list-style: none;
  background-color: #2a8093;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 2px;
}

/*The portion that highlights the new page links */
#pages {
  width: 720px;
  margin: 10px auto;
  box-shadow: 0 2px 15px #eee;
  min-height: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

#pages ul {
  float: left;
  width: 300px;
}

/*Changes the CSS for the innerHTML and textContent strings */
.cssChanged {
  padding: 0.5em 1.5em;
  color: #a7cdf2;
  width: 720px;
  margin: 10px auto;
  font-weight: strong;
  font-size: 1.5em;
  background-color: background-image: -webkit-gradient(linear, left top, left bottom, from(#255687), to(#183a5b));
  background-image: -webkit-linear-gradient(top, #255687, #183a5b);
  background-image: -moz-linear-gradient(top, #25568, #183a5b);
  background-image: linear-gradient(to bottom, #255687, #183a5b);
}

/*Set the footer's CSS */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #154156;
  text-align: center;
}

footer a {
  color: #fff;
}